
body{
    margin:0;
    display:flex;
    justify-content:center;
    align-items: center;
    height:100vh;
    background-color: black;
}

#calculator{
    font-family:monospace ;
    background-color:black;
    border-radius: 35px;
    max-width:500px;
    overflow:auto;
}
#display{
    width:450px;
    padding:20px;
    font-size:5rem;
    text-align:right;
    background-color:white;
    color:orange;
    font-family:monospace;
    font-weight: bold;
    margin:none;
}

#keys{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    gap:10px;
    padding:25px;
}
button{
    width:100px;
    height:100px;
    border-radius:50px;
    border:none;
    background-color:black;
    color:floralwhite;
    font-family:monospace;
    font-size:3rem;
    font-weight: bold;
    text-shadow:2px 2px 2px black;
    transition: background-color 1s ease;
}
button:hover{
    background-color:beige;
}
.operatorBtn{
    background-color: orange;
}